extends layout

block body
    .registration-form
        .container
            h2 Registration
            .registration-grids
                .reg-form
                    .reg
                        p Welcome, please enter the following details to continue.
                        p
                            | If you have previously registered with us, 
                            a(href='#') click here
                        form
                            ul
                                li.text-info First Name: 
                                li
                                    input(type='text', value='')
                            ul
                                li.text-info Last Name: 
                                li
                                    input(type='text', value='')
                            ul
                                li.text-info Email: 
                                li
                                    input(type='text', value='')
                            ul
                                li.text-info Password: 
                                li
                                    input(type='password', value='')
                            ul
                                li.text-info Re-enter Password:
                                li
                                    input(type='password', value='')
                            ul
                                li.text-info Mobile Number:
                                li
                                    input(type='text', value='')
                            input(type='submit', value='REGISTER NOW')
                            p.click
                            | By clicking this button, you are agree to my  
                            a(href='#') Policy Terms and Conditions.
                .reg-right
                    h3 Completely Free Account
                    .strip
                    p
                        | Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio
                        | libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.
                    h3.lorem Lorem ipsum dolor.
                    .strip
                    p
                        | Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.
                .clearfix
