    <div class="container">
        <div class="main-content">
<div class="article">
            <div class="heading"> <h1>About EShop.com</h1></div>
            <div  class="row banner-article">
                 <div class="col-md-6"></div>
                <div class="col-md-6">
            <p>Eshop.com is a new startup which is initiated in 2016 under the Digital-1000 pilot batch in NIIT Technologies Ltd. by the Navneet Gupta, Vinay Kumar and Abhishek Kumar. We are still in a initial phase and over the years we are planning to expand it globally. </p>

            <p>Eshop.com is online portal which deals in Dresses, Trousers, Jeans, Shorts, Shirts, T-Shirts, Watches & Shoes etc. In addition to running 
  the Eshop.com site, we are also planning to add more new features like seperate sections for Men, Women & Kids. You can feel that our online shopping portal give you same feeling like you are at local store or shop. 
  We are also planning to launch our stores globally for customers.</p>

            <p>You can contact us at sales@eshop.com or customercare@eshop.com.</p>
            <div>
            </div>
            </div>
        </div>
    </div>