<div class="content">
        <div class="container">
            <div class="login-page">
                <div class="account_grid">
                    <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                        <h2>NEW CUSTOMERS</h2>
                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                        <a class="acount-btn" href="#/register">Create an Account</a>
                    </div>
                    <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                        <h3>REGISTERED CUSTOMERS</h3>
                        <p>If you have an account with us, please log in.</p>
                        <form name="loginForm" ng-controller="loginController" ng-submit="loginForm.$valid && submitForm()">
                            <div>
                                <span>Email Address<label>*</label></span>
                                <input type="email" name="email" ng-model="email" required>
                                <div ng-messages="loginForm.email.$error" role="alert">
                                    <div ng-message="required">*</div>
                                    <div ng-message="email">*</div>
                                </div>                                
                            </div>
                            <div>
                                <span>Password<label>*</label></span>
                                <input type="password" name="password" ng-model="password" required>
                                <div ng-messages="loginForm.password.$error" role="alert">
                                    <div ng-message="required">*</div>
                                </div>                                   
                            </div>
                            <a class="forgot" href="#/forgot-password">Forgot Your Password?</a>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>